# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
*.m4
*.in
configure
depcomp
missing
compile
config.log
stamp-h1
*.status
*.cache
config.h
install-sh
modules.order
Module.symvers
Mkfile.old
dkms.conf
Makefile

# Src files after cofiguring
*.*~
src/Makefile
src/ntapfuse
src/.*

